/* CSS file placeholder. */
body {
  margin: 0px;
}

/* MODEBAR */
#modebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
  padding: 3px 5px;
}

#sign {
  flex: 1 auto;
}

#length {
  flex: 0 auto;
}

.mode_option {
  display: inline;
  color: white;
  cursor: pointer;
  padding: 0px 5px;
}

/* DISPLAY */
.base {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  border: 1px solid black;
}

.label {
  flex: 0 0 auto;
  font-weight: bold;
  font-size: 18px;
  margin: auto 5px;
}

.acc {
  flex: 1 1 0
}

#bin {
  height: 100px;
  border: 1px solid black;
}

/* KEYPAD */

#keypad {
  border: 1px black solid;
}

.button_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.keypad_button {
  flex: 1 1 0;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 0px;
  text-align: center;
}

.num {
  background-color: #FF8F00;
}

.num:active, .num.active {
  background-color: #FFD299;
}

.op {
  background-color: black;
  color: white;
}

.op:active, .num.active {
  background-color: gray;
}