html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
}

/* MODEBAR */
#modebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: black;
  padding: 3px 5px;
  flex: 0 auto;
}

.mode_option {
  display: inline;
  color: white;
  cursor: pointer;
  padding: 0px 5px;
}

/* DISPLAY */
#display {
  flex: 0 auto;
}

.base {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.label {
  flex: 0 0 auto;
  font-weight: bold;
  font-size: 18px;
  margin: auto 5px;
}

.acc {
  flex: 1 1 0;
}

#bin {
  height: 100px;
}

/* KEYPAD */

#keypad {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px black solid;
  flex: 1 auto;
}

.button_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 auto;
}

.keypad_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.num {
  background-color: #FF8F00;
}

.num:active {
  background-color: #FFD299;
}

.op {
  background-color: black;
  color: white;
}

.op:active {
  background-color: gray;
}