* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* FONT-SIZES */
@media all and (max-width: 600px) {
  .text_large {
    font-size: 16px;
    font-size: 6vw;
  }

  .values {
    font-size: 14px;
    font-size: 5.5vw;
  }

  .num_display {
    height: 50px;
    height: 11vw;
  }
}

@media all and (min-width: 600px) {
  .text_large {
    font-size: 36px;
  }

  .values {
    font-size: 33px;
  }

  .num_display {
    height: 66px;
  }
}

@media all and (max-width: 300px) {
  .bin_row {
    font-size: 13.5px;
    font-size: 5.5vw;
  }

  .bin_row.narrow {
    display: flex;
  }

  .bin_row.wide {
    display: none;
  }
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .bin_row {
    font-size: 16.5px;
  }

  .bin_row.narrow {
    display: flex;
  }

  .bin_row.wide {
    display: none;
  }
}

@media all and (min-width: 550px) and (max-width: 800px) {
  .bin_row {
    font-size: 3vw;
  }

  .bin_row.narrow {
    display: none;
  }

  .bin_row.wide {
    display: flex;
  }
}

@media all and (min-width: 800px) {
  .bin_row {
    font-size: 24px;
  }

  .bin_row.narrow {
    display: none;
  }

  .bin_row.wide {
    display: flex;
  }
}

@media all and (min-height: 400px) and (min-width: 400px) {
  body {
    font-size: 3vmin;
  }
}

@media all and (max-height: 400px) {
  body {
    font-size: 12px;
  }
}

@media all and (max-width: 400px) {
  body {
    font-size: 12px;
  }
}

@media all and (min-width: 700px) and (min-height: 700px) {
  body {
    font-size: 21px;
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
  display: flex;
  flex-direction: column;
}

/* MODEBAR */
#modebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: black;
  padding: 1vh 2vw;
  flex: 0 auto;
}

.mode_option {
  display: inline;
  color: white;
  cursor: pointer;
  padding-right: 10px;
}

/* DISPLAY */
#display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0.5 auto;
  font-family: "Courier New", Courier, monospace
}

.base {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 2vw;
}

.num_display {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 0.5 auto;
}

.label {
  flex: 0 0 auto;
  font-weight: bold;
  margin: auto 0px;
}

.values {
  flex: 1 1 0;
  margin: auto 0px;
  text-align: right;
}

.operand {
  float: right;
}

.operator {
  float: right;
  font-weight: bold;
  margin-right: 6px;
}

#bin {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 1 auto;
  font-weight: bold;
}

.bin_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 auto;
}

.wide {
  display: none;
}

/* KEYPAD */

#keypad {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px black solid;
  flex: 1 auto;
}

.button_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1 auto;
}

.keypad_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.num_active {
  background-color: #FFD299;
}

.num_inactive {
  background-color: #FF8F00;
}

.num_enabled {
  color: black;
}

.num_disabled {
  color: #E68100;
}

.op_active {
  background-color: gray;
}

.op_inactive {
  background-color: black;
}

.op_enabled {
  color: white;
}

.op_disabled {
  color: #888888;
}