* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.flex_column {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex_row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* FONT-SIZES */
@media all and (max-width: 600px) {
  .text_large {
    font-size: 16px;
    font-size: 6vw;
  }

  .values {
    font-size: 14px;
    font-size: 5.5vw;
  }

  .num_display {
    height: 50px;
    height: 11vw;
  }
}

@media all and (min-width: 600px) {
  .text_large {
    font-size: 36px;
  }

  .values {
    font-size: 33px;
  }

  .num_display {
    height: 66px;
  }
}

@media all and (max-width: 300px) {
  .bin_row {
    font-size: 13.5px;
    font-size: 5.5vw;
  }

  .bin_row.narrow {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .bin_row.wide {
    display: none;
  }
}

@media all and (min-width: 300px) and (max-width: 550px) {
  .bin_row {
    font-size: 16.5px;
  }

  .bin_row.narrow {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  .bin_row.wide {
    display: none;
  }
}

@media all and (min-width: 550px) and (max-width: 800px) {
  .bin_row {
    font-size: 3vw;
  }

  .bin_row.narrow {
    display: none;
  }

  .bin_row.wide {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}

@media all and (min-width: 800px) {
  .bin_row {
    font-size: 24px;
  }

  .bin_row.narrow {
    display: none;
  }

  .bin_row.wide {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }
}

@media all and (max-width: 400px) {
  body {
    font-size: 15px;
  }
}

@media all and (min-width: 400px) {
  body {
    font-size: 3.75vmin;
  }
}

@media all and (min-width: 600px) and (min-height: 600px) {
  body {
    font-size: 22.5px;
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, sans-serif;
}

/* MODEBAR */
#modebar {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background-color: black;
  padding: 1.5vh 3vw;
  -moz-flex: 0 auto;
  -ms-flex: 0 auto;
  -webkit-flex: 0 auto;
  flex: 0 auto;
}

.mode_option {
    display: inline;
    color: white;
    cursor: pointer;
    margin-right: 1px;
    padding: 0.5vh 1.5vw;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
}

/* DISPLAY */
#display {
  -moz-flex: 0.5 auto;
  -ms-flex: 0.5 auto;
  -webkit-flex: 0.5 auto;
  flex: 0.5 auto;
  font-family: "Courier New", Courier, monospace
}

.base {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 3vw;
}

.num_display {
  -moz-flex: 0.5 auto;
  -ms-flex: 0.5 auto;
  -webkit-flex: 0.5 auto;
  flex: 0.5 auto;
}

.label {
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: bold;
  margin: auto 0px;
  border: 1px solid;
  border-radius: 3px;
  padding: 5px 1vw;
  background-color: white;
}

.values {
  -moz-flex: 1 1 0;
  -ms-flex: 1 1 0;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  margin: auto 0px;
  text-align: right;
}

.operand, .acc_op {
  float: right;
}

.operator_no {
  float: right;
  font-weight: bold;
  margin-left: 6px;
  margin-left: 2vw;
}

.operator_has {
  float: right;
  font-weight: bold;
  margin-right: 6px;
  margin-right: 2vw;
}

#bin {
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
  font-weight: bold;
}

.bin_row {
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
}

.wide {
  display: none;
}

/* KEYPAD */

#keypad {
  border: 1px black solid;
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
}

.button_row {
  -moz-flex: 1 auto;
  -ms-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
}

.keypad_button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-flex: 1 1 0;
  -ms-flex: 1 1 0;
  -webkit-flex: 1 1 0;
  flex: 1 1 0;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.num_active {
  background-color: #FFD299;
}

.num_inactive {
  background-color: #FF8F00;
}

.num_enabled {
  color: black;
}

.num_disabled {
  color: #E68100;
  cursor: default;
}

.op_active {
  background-color: gray;
}

.op_inactive {
  background-color: black;
}

.op_enabled {
  color: white;
}

.op_disabled {
  color: #888888;
  cursor: default;
}